<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <!-- Schema1 -->
    <add key="Server1" value="omegaweb"/>
    <add key="User1" value="EDGEDEV"/>
    <add key="Pwd1" value="EDGEDEV"/>
    <add key="REPX_PATH1" value="\\webserver\Edgedev\SourceReports"/>
    <add key="ATTACHMENTS_FOLDER1" value="\\webserver\Edgedev\emailAttachments"/>
    <add key="REPORT_URL" value="http://67.52.13.42:81/"/>
    <add key="FILETYPE" value="XLS"/>         <!-- XLS/PDF -->
    <add key="FILEEXTENSION" value="xlsx"/>   <!-- xlsx/pdf -->
    
    <!-- Schema2 -->
    <add key="Server2" value=""/>
    <add key="User2" value=""/>
    <add key="Pwd2" value=""/>
    <add key="REPX_PATH2" value=""/>
    <add key="ATTACHMENTS_FOLDER2" value=""/>
   
    <!-- Schema3 -->
    <add key="Server3" value=""/>
    <add key="User3" value=""/>
    <add key="Pwd3" value=""/>
    <add key="REPX_PATH3" value=""/>
    <add key="ATTACHMENTS_FOLDER3" value=""/>
    
    
    <add key="HostName" value=""/>
    <add key="DomainName" value=""/>
    <add key="AppObjPath" value=""/>
    <add key="NoOfSchemas" value="3"/>
    <add key="Hours" value="21"/>
    <add key="Mins" value="00"/>
    <add key="EmailCheckFrequency" value="1"/>
    <add key="PreserveLog" value="Y"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
