<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <!-- Schema1 -->
    <add key="Server1" value="Server=10.1.1.7;Port=5432;Userid=pgconversion_db;Database=pgconversion_db;password=pgconversion_db;Pooling=false;"/>
  

    <add key="NoOfSchemas" value="1"/>

    <add key="frmName" value="ERP Support - ERPAPPSERVER(cloud hosting)" />
    <add key="smtpServer" value="smtp.gmail.com" />
    <add key="Domain" value="" />
    <add key="smtpPort" value="587" />
    <add key="smtpUid" value="ERPAlerts@omegacube.com" />
    <add key="smtpPwd" value="1@omegacube" />
    <add key="frmEmailID" value="ERPAlerts@omegacube.com" />
    <add key="EnableSSL" value="Y" />
    <add key="UseDomainInSenderEmailId" value="Y" />
    <add key="oracleRun" value="" />
    <add key="oracleReportsPath" value="" />
    <add key="ExhangeOrSMTP" value="S" />
    <add key="PreserveLog" value="N" />
  </appSettings>
</configuration>
